# OpenAI API Key and model
OPENAI_API_KEY=your-openai-api-key
OPENAI_MODEL=your-openai-model
OPENAI_BASE_URL=https://api.openai.com/v1

# Ollama API Key and model
OLLAMA_API_KEY=ollama
OLLAMA_MODEL=your-ollama-model
OLLAMA_BASE_URL=http://localhost:11434/v1

# Google API Key and model
GOOGLE_API_KEY=your-google-api-key
GOOGLE_MODEL=your-google-model
GOOGLE_BASE_URL=https://generativelanguage.googleapis.com/v1beta/